<!DOCTYPE html>
<!-- img id="estirada" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%" src="img/404_back.jpeg"/ -->
<html lang="en">
<head>
<body bgcolor="#000000"> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pr&aacute;ctica DevOps Gema Mart&iacute;z">
    <meta name="author" content="gemambu">

    <title>Error 404!</title>

    <link href="css/grayscale.min.css" rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <header class="error">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                       <center> <img src="images/custom_404.jpeg" alt="Error 404"></center>
			<!--    <p class="intro-text">Pincha <a href="index.html">aqui</a> para volver a la p&aacute;gina principal :)  -->
			<center><h1 class="brand-heading" style="color:white;">Pincha <a href="/">aqu&iacute;</a> para volver a la p&aacute;gina p&aacute;gina principal</h1></center>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

</html>
